# Ignore node_modules in the root, frontend, and backend
node_modules/
**/node_modules/

# Ignore production builds (optional, but recommended)
/frontend/build/
/frontend/dist/

# Ignore environment variables containing secret keys
.env
*.env.local
